@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
	--font-family: 'DM Sans', serif;

	--font-xl: 48px;
	--font-l: 32px;
	--font-m: 18px;
	--font-s: 15px;

	--font-bold: 700;
	--font-regular: 400;

	--color-white: #ffffff;
	--color-card-white: hsl(33, 100%, 98%);
	--color-cream-bg: hsl(27, 66%, 92%);
	--color-medium-brown: hsl(28, 10%, 53%);
	--color-dark-brown: hsl(25, 47%, 15%);
	--color-cyan: hsl(186, 34%, 60%);
	--color-red: hsl(10, 79%, 65%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
